
/*NAVIGATION BAR*/
#navbar-design{
    background: #2ECC71;
}

.bold,.italics,.underline,
.ul,.ol,.strike{
    color: #fff;
    background:#2ECC71;
    border: none;
    font-size: 22px;
    outline: none;
}

button:hover,
#dropdown-font:hover,
#dropdown-size:hover{
    background:#44b775;
    color:#fff;;
    transition: 0.2s
}

#dropdown-font,
#dropdown-size{
    background:#2ECC71;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 22px;
}

#submit-btn{
    color: #fff;
    outline: none;
    background: #2ECC71;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
}

#submit-btn:hover{
    background:#44b775;
    color:#fff;
    transition: 0.2s;
    text-decoration: none;
}

#nav,#navbar{
    background: #374785;    
}

#timer,#char-count,#error,#line-count,#para-count,
#wpm,#accuracy{   
    font-size: 25px;
    color: #fff;
    background:#374785;
    width: 100px;
    border: none;
}

#nav-item{   
    font-size: 25px;
    color: #fff;
    background:#374785;
}

.input-box,
.output-box {
    border: 2px solid #2ECC71;
    height: 250px;
    border-radius: 10px;
    font-size: 18px;
    line-height: 1.5;
    overflow-y: scroll;
    outline: none;
}

.input-box{
    -webkit-user-select: none; 
}

